<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../estilos.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img src="../assets/imagenes/logo.png" height="100" width="150" alt="LOGO MUY DIDACTICO"/>
        <nav>
            <ul>
			<div class="home">
                <li><a href="../index.html">Home</a></li>
			</div>
			<div class="productos">
                <li><a href="productos.html">Productos</a></li>
			</div>
			<div class="contacto">
                <li><a href="#">Contacto</a></li>
			</div>
			</div>
			<div class="mi_cuenta">
			<li><a href="inicio_sesion.html">MI CUENTA</a></li>
			</div>
            </ul>
    </nav>
    </header>
    <main>
        <section>
			<div>
				<h3>Contacto</h3>
			</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maiores sit vitae impedit asperiores, soluta nisi quasi quidem laudantium voluptate delectus est laboriosam illo earum. Neque, voluptatum? Eum, a! Numquam!. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti a quis et temporibus, quidem ullam fuga odio explicabo veritatis, sunt eaque aliquam, eius culpa magni rem ad, inventore dolore enim.</p>
			</div>
			<div>
				<form action="#">
					<label for="nombre">Nombre:
						<input type="text" name="nombre">
					</label>
					<label for="apellido">Apellido:
						<input type="text" name="apellido">
					</label>
					<div>
						<label for="email">Email:
							<input type="email" name="email">
						</label>
					<span>Tipo de consulta:
						<select name="consulta" id="consulta">
							<option value="semen">MINORISTA</option>
							<option value="embriones">MAYORISTA</option>
							<option value="otro">OTRO</option>
						</select>
					</span>
					</div>
					<div>
						<textarea name="comentarios" id="comentarios" cols="30" rows="10"></textarea>
					</div>
					<div>
						<input type="submit" value="ENVIAR">
					</div>
				</form>
			</div>
		</section>
		<div class="iframe1">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3459.6448128884776!2d-61.94399688428213!3d-29.874515630355344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9436788c18ae73ab%3A0x6b9cb7500bd468ce!2sLavalle%20%26%203%20de%20Febrero%2C%20Ceres%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1648502581901!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    	</div>
	</main>
	<footer class="footer">
		<h3>©MUY DIDACTICO</H3>
	</footer>
</body>
</html>