<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../estilos.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img src="../assets/imagenes/logo.png" height="100" width="150" alt="LOGO MUY DIDACTICO"/>
        <nav>
            	<ul>
					<div class="home">
					<li><a href="../index.html">Home</a></li>
					</div>
					<div class="productos">
					<li><a href="productos.html">Productos</a></li>
					</div>
					<div class="contacto">
						<li><a href="contacto.html">Contacto</a></li>
					</div>
					<div class="mi_cuenta">
						<li><a href="#">MI CUENTA</a></li>
					</div>
			</ul>
		</nav>
	</header>
	<main>
		<div>
			<h1>Inicia Sesion</h1>
		</div>
		<section>
			<form action="#">
				<div>
					<input type="text" name="Usuario" placeholder="Usuario">
					<input type="password" name="Contrasena" placeholder="Contrasena">
				</div>
				<div>
					<input type="submit" value="Ingresar">
				</div>
			</form>
		</section>
	</main>
    <footer class="footer">
        <h3>©MUY DIDACTICO</H3>
    </footer>
	</body>
</html>