<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img src="../assets/imagenes/logo.png" height="100" width="150" alt="LOGO MUY DIDACTICO"/>
        <nav>
            <ul>
            <div class="home">
                <li><a href="../index.html">Home</a></li>
            </div>
            <div class="productos">
                <li><a href="#">Productos</a></li>
            </div>
            <div class="contacto">
                <li><a href="contacto.html">Contacto</a></li>
            </div>
            <div class="mi_cuenta">
                <li><a href="inicio_sesion.html">MI CUENTA</a></li>
            </div>
            </ul>
    </nav>
    </header>
    <main>
        <section>
            <div class="productos2">
                <h3>PRODUCTOS</h3>
            </div>
            <div class="grid-layout">
                <!--ESTOY PROBANDO LAS DIFERENTES FORMAS, POR ESO HAY MUCHAS LINEAS ENGLOBADAS COMO COMENTARIO, LA IDEA ES QUE AL PRESIONAR LAS IMAGNES SE APERTURE EL DETALLE DE LA MERCADERIA (PRECIO, EDADES,ETC)-->
                <div class="caja">
                <!--<h3>PRODUCTO 1</h3>-->
                <img src="../assets/imagenes/ejemplo juguete.png" width="350" height="350" alt="IMAGEN DEL JUGUETE 1"/>
                </div>
                <!--<table border="1">
					<tr>
						<th>Numero</th>
						<th>Nombre</th>
						<th>Precio por 1 unidad</th>
						<th>Precio por 10 unidades</th>
					</tr>
					<tr>
						<td>1</td>
						<td>JUGUETE 1</td>
						<td>$1000</td>
						<td>$7000</td>
					</tr>
                </table>-->
                <div class="caja">
                <!--<h3>PRODUCTO 2</h3>-->
                <img src="../assets/imagenes/cajabolos.PNG" width="350" height="350" alt="IMAGEN DEL JUGUETE 2"/>
                </div>
                <!--<table border="1">
					<tr>
						    <th>Numero</th>
						<th>Nombre</th>
						<th>Precio por 1 unidad</th>
						<th>Precio por 10 unidades</th>
					</tr>
					<tr>
						<td>2</td>
						<td>JUGUETE 2</td>
						<td>$500</td>
						<td>$3500</td>
					</tr>
                </table>-->
                <div class="caja">
                <img src="../assets/imagenes/cajaformitas.PNG"  width="350" height="350" alt="IMAGEN DEL JUGUETE 2"/>
                </div>
                <div class="caja">
                <img src="../assets/imagenes/cartasemociones.PNG" width="350" height="350" alt="IMAGEN DEL JUGUETE 2"/>
                </div>                
                <div class="caja">
                <img src="../assets/imagenes/crayonesdecera.PNG" width="350" height="350" alt="IMAGEN DEL JUGUETE 2"/>
                </div>
                <div class="caja">
                <img src="../assets/imagenes/cubomultiact.PNG" width="350" height="350" alt="IMAGEN DEL JUGUETE 2"/>
                </div>
                <div class="caja">
                <img src="../assets/imagenes/enhebrados.PNG" width="350" height="350" alt="IMAGEN DEL JUGUETE 2"/>
                </div>
                <div class="caja">
                <img src="../assets/imagenes/sumo10.PNG" width="350" height="350" alt="IMAGEN DEL JUGUETE 2"/>
                </div>
            </div>
        </section>
    </main>
            <footer class="footer">
                <h3>©MUY DIDACTICO</H3>
            </footer>
</body>
</html>